<div class="container">
  <div class="site-navigation">
    <div class="row">
      <mat-toolbar>
        <div class="search">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix class="my-icon">search</mat-icon>
            <input matInput placeholder="Search...">
          </mat-form-field>
        </div>
        <div class="colname">
          <span>Blog App</span>
        </div>
        <span class="example-spacer"></span>
        <div class="menu">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>