.page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content :start;
  // background-color: aqua;
}

.page1 h1 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 3rem;
}

.container {
  width: 93%;
  max-width: 93%;
  height: 73vh;
  // background-color: black;
}

.page2 {
  height: 100vh;
  width: 100%;
  // background-color: rgb(56, 215, 215);
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(66, 119, 147);
}