.main {
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page1 h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 3rem;
}

.page2 {
  padding-top: 4rem;
}
// .page2 {
//   background-color: rgb(56, 215, 215); /* Uncomment for background color */
// }

// .page3 {
//   background-color: rgb(66, 119, 147); /* Uncomment for background color */
// }

// .page4 {
//   background-color: rgb(183, 220, 37); /* Uncomment for background color */
// }