.mat-sidenav-container {
    height: calc(205vh - 115vh);
}

.mat-sidenav {
    width: 250px;
    background-color: white;
}

.mat-list-item {
    padding-top: 3rem;
}

.mat-nav-list a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

.link-style:hover {
    color: #f79918;
}

.mat-list-item:hover {
    background-color: transparent !important;
}

:host ::ng-deep .close-btn {
    float: inline-end;
}

:host ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.arrow-button {
    background: none;
    border: none;
}

@keyframes spin-down {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes spin-up {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.spin-up {
    animation: spin-up 0.3s linear;
}

.spin-down {
    animation: spin-down 0.3s linear;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.categories-list {
    padding-left: 38px;
}