<mat-sidenav-container hasBackdrop="true" (backdropClick)="handleBackdropClick()">
    <mat-sidenav [opened]="openSideNav" mode="over" [fixedInViewport]="true" position="end" autoFocus="false">
        <button mat-button class="close-btn" (click)="handleBackdropClick()"><mat-icon>close</mat-icon></button>
        <mat-nav-list style="margin-left: 10px;">
            <a mat-list-item routerLink="/home"> <span class="link-style">Home</span></a>
            <mat-list-item>
                <span class="link-style">Categories</span>
                <button mat-icon-button (click)="onCategories()" style="margin-left: 4rem;" class="arrow-button">
                    <mat-icon [class.spin-up]="arrowState === 'down' && isClicked"
                        [class.spin-down]="arrowState === 'up' && isClicked">
                        {{showCategories ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                    </mat-icon>
                </button>
            </mat-list-item>
            <!-- routerLink="/categories" -->
            <mat-nav-list *ngIf="showCategories" style="margin-left: 20px;">
                <a mat-list-item> <span class="link-style">Food</span></a>
                <a mat-list-item> <span class="link-style">Car</span></a>
                <a mat-list-item> <span class="link-style">Bike</span></a>
            </mat-nav-list>
            <a mat-list-item class="custom_hover" routerLink="/post/1"><span class="link-style">Posts</span></a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>