<mat-sidenav-container hasBackdrop="true" (backdropClick)="handleBackdropClick()">
    <mat-sidenav #sidenav [opened]="openSideNav" mode="over" [fixedInViewport]="true" position="end" autoFocus="false">

        <button mat-button class="close-btn" (click)="handleBackdropClick()">
            <mat-icon>close</mat-icon>
        </button>

        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="sidenav.toggle();handleBackdropClick()">
                <div class="list-item">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-style">Home</span>
                </div>
            </a>

            <mat-list-item>
                <div class="list-item">
                    <i class="fa-solid fa-list"></i>
                    <span class="link-style" (click)="onCategories()">Categories</span>
                    <button mat-icon-button (click)="onCategories()" class="arrow-button">
                        <mat-icon [class.spin-up]="arrowState === 'down' && isClicked"
                            [class.spin-down]="arrowState === 'up' && isClicked">
                            {{showCategories ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                        </mat-icon>
                    </button>
                </div>
            </mat-list-item>

            <mat-nav-list *ngIf="showCategories">
                <div class="categories-list">
                    <div (click)="sidenav.toggle();handleBackdropClick()">
                        <a mat-list-item> <span class="link-style">Food</span></a>
                    </div>
                    <div (click)="sidenav.toggle();handleBackdropClick()">
                        <a mat-list-item> <span class="link-style">Car</span></a>
                    </div>
                    <div (click)="sidenav.toggle();handleBackdropClick()">
                        <a mat-list-item> <span class="link-style">Bike</span></a>
                    </div>
                </div>
            </mat-nav-list>

            <a mat-list-item class="custom_hover" routerLink="/post/1" (click)="sidenav.toggle();handleBackdropClick()">
                <div class="list-item">
                    <i class="fa-solid fa-signs-post"></i>
                    <span class="link-style">Posts</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>