<div class="main">
    <ng-container *ngFor="let post of postInfo">
        <div class="post-container">
            <div class="post-header">
                {{post.posttitle}}
            </div>
            <div class="post-img-container">
                <img [src]="'assets/post-scroll-images/'+ post.image" class="post-img">
            </div>
            <div class="post-content">
                {{post.content}}
            </div><br>
            <hr class="solid">
            <div class="share-post">
                Share
            </div>
        </div>
    </ng-container>
</div>