<!-- app.component.html -->
<!-- <div>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/post" routerLinkActive="active">Post</a></li>
      <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
      <li><a routerLink="/auth/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/auth/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Admin Dashboard</a></li>
    </ul>
  </nav>
</div> -->
<router-outlet></router-outlet>
