<div class="footer-container">
    <div class="subscribe-newsletter-card">
        <div class="email-input">
            <label class="input-label">
                <span class="input-heading">Subscribe to newsletter</span>
                <div class="input-field">
                    <input type="email" id="email" name="email" placeholder="Enter your Email" class="input-style">
                    <button mat-flat-button class="subscribe-button">Subscribe</button>
                </div>
            </label>
        </div>
    </div>

    <div class="media-button-group">
        <i class="fa fa-brands fa-facebook"></i>
        <i class="fa fa-brands fa-twitter"></i>
        <i class="fa fa-brands fa-linkedin"></i>
        <i class="fa fa-brands fa-youtube"></i>
    </div>

    <label for="name" class="copyright-info">Copyright ©2024 All rights reserved | Terms & Conditions / Privacy
        Policy</label>
</div>